.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a b b" "a a b b" "a a b b" "a a b b" "a a c c";
    min-height: 100vh;
    max-height: 100vh;
    padding: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
}

.filters {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%
}

#courseListingsPage {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.courseListings {
    overflow-y: scroll;
    max-height: 90%;
}

.schedule {
    grid-area: b;
    background-color: lightblue;
}

.shoppingCart {
    grid-area: c;
    background-color: rgb(100,190,255);
}

.notSelected {
    background-color: white;
    color: #1579f6;
    margin: 5%;
}

.upperDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    padding: 5%;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    padding: 5%;
}

.majorDropdown {
    background-color: white;
    color: black
}

#pageTitle {
    height: 30%;
}

.filtersDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.innerFilters {
    margin: 2%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.innerFilterElement {
    margin-left: 2%;
    border: solid 2px black
}

#submitButton {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#backButton {
    height: 10%;
    width: 100%;
}

@media (max-width: 1024px) {
    /* tablet layout here */
    .container {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        padding: 20px;
    }
    .filters {
        height: 100vh;
        margin: 5px;
    }
    .schedule {
        height: 100vh;
        margin: 5px;
    }
    .shoppingCart {
        height: 20vh;
        margin: 5px;
    }
}
