.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
       "a a b b"
       "a a b b"
       "a a b b"
       "a a b b"
       "a a c c"; 
    min-height: 100vh;
    padding: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
 }
 
 section {
    align-items: center;
    display: flex;
    justify-content: center;
 }
 .filters {
    grid-area: a;
    background-color: hotpink;
    color: white;
 }
 
 .schedule {
    grid-area: b;
    background-color: yellow;
 }
 
 .shoppingCart {
    grid-area: c;
    background-color: lightblue;
 }
 
 @media (max-width: 1024px) {
    /* tablet layout here */
    .container {
       display: flex;
       flex-direction: column;
       overflow: scroll;
       padding: 20px;
    }
    .filters {
        height: 100vh;
        margin: 5px;
    }
    .schedule {
        height: 100vh;
        margin: 5px;
    }
    .shoppingCart {
        height: 20vh;
        margin: 5px;
    }
 }
 
 
