.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a b b" "a a b b" "a a b b" "a a b b" "a a c c";
    min-height: 100vh;
    max-height: 100vh;
    padding: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
}

.filters {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%
}

#courseListingsPage {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.courseListings {
    overflow-y: scroll;
    max-height: 90%;
}


.schedule {
    grid-area: b;
    display:flex;
    flex-direction: column;
}


/* start of shopping cart */
.shoppingCart {
    grid-area: c;
    display: flex;
    flex-direction: column;
}

#addDeleteCart {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#addCartAlign {
    display: flex;
    justify-content: flex-start;
    padding-left: 8%;
    width: 50%;
}

#deleteCartAlign {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 3%;
    width: 50%;
}

#addCartButton {
    background: #303685;
}
#deleteCartButton {
    background: orange;
}
/* end of add shopping card */

/* start of schedule */
.classSession {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notSelected {
    background-color: white;
    color: #1579f6;
    margin-right: 5%
}

.upperDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    padding: 5%;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    padding: 5%;
}

.majorDropdown {
    background-color: white;
    color: black
}

#pageTitle {
    height: 30%;
}

.filtersDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.innerFilters {
    margin: 2%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.innerFilterElement {
    margin-left: 2%;
    border: solid .5px black
}

#noresults {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#submitButton {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#backButton {
    height: 10%;
    width: 90%;
}

#addButton {
    height: 50%;
    width: 50%;

}

.scheduleCell {
    width: 14vh;
    height: 7vh;
    border: solid .5px black;
    border-radius: 0;
    display: flex;
    overflow: visible;
}

.scheduleCellWhole {
    width: 14vh;
    height: 3.5vh;
    border: solid .5px black;
    border-radius: 0;
    border-bottom: none;
    display: flex;
    overflow: visible;
}

.scheduleCellHalf {
    width: 14vh;
    height: 3.5vh;
    border: solid .5px black;
    border-radius: 0;
    border-top: none;
    display: flex;
    overflow: visible;
}

.scheduleRow {
    display: flex;
    flex-direction: row;
}

.scheduleDays {
    width: 14vh;
    height: 3vh;
    text-align: center;
}

.scheduleHours {
    width: 3vh;
    height: 7vh;
    text-align: center;
}
.scheduleWHours {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1024px) {
    /* tablet layout here */
    .container {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        padding: 20px;
    }
    .filters {
        height: 100vh;
        margin: 5px;
    }
    .schedule {
        height: 100vh;
        margin: 5px;
    }
    .shoppingCart {
        height: 20vh;
        margin: 5px;
    }
}
